*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica ', sans-serif;
}

body{
    background-color: #F9F9F9;
    display: block;
    overflow: hidden;
}

.navbar{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    top: 0;
    overflow: hidden;
    z-index: 1000;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px 0px rgba(92, 99, 105, 0.15);
    font-size: 15px;
    position: relative;
}

.navbar .left{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    flex: 0.6;
}

.navbar .left .shape{
    background-color: #04B075;
    height: 60px;
    width: 13px;
    margin-right: 60px;
    color: #04B075;
    border-radius: 0px 15px 15px 0px;
}

.navbar .left .logo{
    display: flex;
    font-size: 26px;
    font-weight: 600;
    color: #008D5D;
    gap: 10px;
    overflow: hidden;
    white-space: nowrap;
}

.navbar .searchBar{
    margin-left: 60px;
    flex: 2;
}

.navbar .searchBar input{
    font-size: 14px;
    height: 40px;
    width: 700px;
    left: 0;
    border: none;
    border-radius: 7px;
    padding-left: 20px;
    background-color: #F6F6F6;
}
.navbar .searchBar input:focus{
    outline: none;
}

.navbar .right{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex: 1;
    margin-right: 3%;
    gap: 40px;
    overflow: hidden;
    text-overflow: inherit;
    white-space: nowrap;
}

.navbar .right .todayGrossSale{
    display: flex;
    gap: 10px;
}
.navbar .right .todayGrossSale span{
    display: flex;
    gap: 10px;
    color: #04B075;
    font-weight: 600;
}

.navbar .right .displayDateTime{
    display: flex;
    gap: 10px;
}

.sideBar {
    height: 100%;
    width: 115px;
    padding-top: 20px;
    position: absolute;
    box-shadow: 2px 0 3px -2px rgba(0,0,0,.2);
    background-color: #ffffff;
}

.sideBar .features{
    height: 70%;
}
.sideBar button {
    height: 70px;
    width: 70px;
    margin: 15px 20px 15px 20px;
    border-radius: 10px;
    background-color: #04B075;
    border: none;
    outline: none;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    transition: 0.2s;
    cursor: pointer;
    color: #ffffff;
    font-size: 11px;
}

.sideBar button img {
    margin: 5px;
}

.sideBar button:hover {
    background-color: #009963;
}

.sideBar button:focus {
    background-color: #04B075;
}

.sideBar .sbPOS button,
.sideBar .sbInventory button {
    background-color: #ffffff;
    color: #a6acb8;
    font-size: 11px;
}

.sideBar .sbPOS button:hover,
.sideBar .sbInventory button:hover{
    transition: all .2s ease-in-out;
    background-color: #f1f1f1;
}

.logout {
    height: 7%;
}

.sideBar .logout .sbLogout button{
    background-color: #ffffff;
}



.mainContainer{
    padding: 30px;
}

.salesDisplay{
    display: flex;
    flex-direction: column;
    margin-left: 115px;
    height: 100vh;
    gap: 20px;
}


.salesDisplay .sales {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 40%;
}

.salesDisplay .transactions{
    display: flex;
    height: 60%;
}

.sales .salesStats{
    width: 50%;
    height: 100%;
}

.sales .stockTracker{
    width: 50%;
    height: 100%;
}



.salesStatsLabel{
    width: auto;
}
.salesStatsLabel p{
    font-size: 30px;
    margin-left: 10px;
    line-height: 40px;
    font-weight: 600;
    color: #04B075;
    overflow: hidden;
    text-overflow: inherit;
    white-space: nowrap;

}
.salesStats .lineShape{
    border-radius: 20px 20px 0px 0px;
    height: 7px;
    position: relative;
    background-color: #04B075;

}

.salesStats .mainContainer{
    background-color: #ffffff;
    height: 33vh;
    border-radius: 0px 0px 13px 13px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
}

.salesStats .container1{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 10px;
}
.salesStats .container2{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 10px;
}

.salesStats .container1 .grossSale{
    background: linear-gradient(to bottom right, #04B075, #06DB92);
    height: 50%;
    border-radius: 13px;
    color: #ffffff;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}
.salesStats .container1 .order{
    background-color: #ffffff;
    height: 50%;
    border-radius: 13px;
    border: 1px solid #04B075;
    color: #04B075;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}
.salesStats .container2 .totalProfit{
    background-color: #ffffff;
    height: 50%;
    border-radius: 13px;
    border: 1px solid #04B075;
    color: #04B075;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}
.salesStats .container2 .others{
    background-color: #ffffff;
    height: 50%;
    border-radius: 13px;
    border: 1px solid #04B075;
    color: #04B075;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

.grossSale, .order, .totalProfit, .others {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.grossSale h1, .order h1, .totalProfit h1, .others h1{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 3px;
}




.stocksLabel p{
    font-size: 30px;
    margin-left: 10px;
    line-height: 40px;
    font-weight: 600;
    color: #04B075;
    overflow: hidden;
    text-overflow: inherit;
    white-space: nowrap;
}


.stockTracker .lineShape{
    border-radius: 20px 20px 0px 0px;
    height: 7px;
    position: relative;
    background-color: #04B075;
}

.stockTracker .mainContainer{
    background-color: #ffffff;
    height: 33vh;
    border-radius: 0px 0px 13px 13px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 30px 7px 30px;

}

.stocksTable{
    font-size: 12px;
    border-radius: 8px;
    padding: 0px 10px 0px 10px;
}

.stocksTable thead th{
    background-color: #ffffff;
    position: sticky;
    top: 0;
    padding: 10px 0px 10px 0px;
    color: #04B075;
    font-weight: 600;

}

.stocksTable td{
    padding: 5px 0px 5px 0px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    border: none;
}

.stocksTable tbody #productID,
.stocksTable .col1 {
    width: 10vw;
    margin-right: 15px;
}
.stocksTable tbody #productName,
.stocksTable .col2 {
    width: 40vw;


}
.stocksTable tbody #netWeight,
.stocksTable .col3 {
    width: 10vw;

}
.stocksTable tbody #category,
.stocksTable .col4 {
    width: 15vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.stocksTable tbody #stock,
.stocksTable .col5 {
    width: 5vw;
}
.stocksTable tbody #stock p{
    border: 1px solid #ff0000;
    color: #ff0000;
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
    font-weight: 700;
    text-align: center;
}



.transactions{
    display: flex;
    flex-direction: column;
    gap: 0;
}

.transactions .transactionLabel p{
    font-size: 30px;
    margin-left: 10px;
    line-height: 40px;
    font-weight: 600;
    color: #04B075;
    overflow: hidden;
    text-overflow: inherit;
    white-space: nowrap;

}
.transactions .lineShape{
    border-radius: 20px 20px 0px 0px;
    height: 7px;
    position: relative;
    background-color: #04B075;
}

.transactions .mainContainer{
    background-color: #ffffff;
    border-radius: 0px 0px 13px 13px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
}

.transactions .mainContainer{
    background-color: #ffffff;
    height: 33vh;
    border-radius: 0px 0px 13px 13px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 40px 7px 40px;

}

.stocksTable{
    font-size: 14px;
    border-radius: 8px;
    padding: 0px 10px 0px 10px;
}

.stocksTable thead th{
    background-color: #ffffff;
    position: sticky;
    top: 0;
    padding: 15px 0px 15px 0px;
    text-align: left;
}

.stocksTable td{
    padding: 5px 0px 5px 0px;
    border: 1px solid #ddd;
    text-align: left;
    background-color: #ffffff;
    border: none;
}

.stocksTable tbody #transactionNum,
.stocksTable .col1 {
    width: 20vw;
    margin-right: 15px;
}
.stocksTable tbody #numItems,
.stocksTable .col2 {
    width: 30vw;

}
.stocksTable tbody #total,
.stocksTable .col3 {
    width: 30vw;
}
.stocksTable tbody #date,
.stocksTable .col4 {
    width: 30vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.stocksTable tbody #seeDetails,
.stocksTable .col5 {
    width: 10vw;
}
.stocksTable tbody #seeDetails button{
    border: 1px solid #04B075;
    color: #04B075;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    font-size: 12px;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    transition: all .1s ease-in-out;
}
.stocksTable tbody #seeDetails button:hover{
    background-color: #04B075;
    outline: none;
    color: #ffffff;
}